/* HTML, Body */
body {
    background-image: linear-gradient(to bottom right, #e4efe9, #93a5cf);
}

/* Jumbotron */
#header {
    text-align: center;
    padding: 10px 0px;
}

.row {
    margin-bottom: 25px;
}



/* Intro overlay */
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 2;
    cursor: pointer;
    text-align: center;
    color: #f8f9fa;
}
#overlay h1 {
    padding-top: 250px;
}
#overlay p {
    padding-top: 50px;
    padding-left: 20%;
    padding-right: 20%;
}


/* Progress bars */
.progress {
    height: 24px;
    margin: 10px;
}

.progressLabel {
    padding-top: 2px;
    padding-left: 5px;
    color: #FFFFFF;
}

#explanatoryProgBars {
    margin-top: 15px;
}



/* Parallel coordinates */
.parcoords {
    height: 400px;
    -webkit-box-shadow: 10px 10px 35px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: 10px 10px 35px -5px rgba(0,0,0,0.5);
    box-shadow: 10px 10px 35px -5px rgba(0,0,0,0.5);
}



/* Tables */
#tables {
    text-align: center;
}

.table td,
.table th {
    min-width: 275px;
}

.table td {
    padding: 2px;
}

.table tr .filtered {
    display: none; 
}


/* Interest-badges */
.badge { 
    flex: 0 0 auto;
    margin: 0px 2px; 
}

.bgSociety { background: #FF0000; }
.bgSocial {  background: #CC3300; }
.bgTravel {  background: #888800; }
.bgPhoto {   background: #33CC00; }
.bgArt {     background: #00FF00; }
.bgMusic {   background: #00CC33; }
.bgFood {    background: #008888; }
.bgGym {     background: #0033CC; }
.bgSport {   background: #0000FF; }
.bgGaming {  background: #3300CC; }
.bgProg {    background: #880088; }
.bgIVIS {    background: #CC0033; }

.bgFood, .bgGym, .bgSport, .bgGaming, .bgProg { text-decoration: #FFFFFF; }
