/* Jumbotron */
.jumbotron {
    text-align: center;
    padding: 0;
}

.row {
    margin-bottom: 25px;
}


/* Progress bars */
.progress {
    height: 24px;
    margin: 10px;
}

.progressLabel {
    padding-top: 2px;
    padding-left: 5px;
    color: #FFFFFF;
}

#explanatoryProgBars {
    margin-top: 15px;
}


/* Parallel coordinates */
.parcoords {
    height: 400px;
}


/* Tables */
#tables {
    text-align: center;
}

.table {
    line-height: 0.3;
}

.table td,
.table th {
    min-width: 275px;
    vertical-align: none;
}

.table tr .filtered {
    display: none; 
}


/* Interest-badges */
.badge { margin: 0px 2px; }

.bgSociety { background: #FF0000; }
.bgSocial {  background: #CC3300; }
.bgTravel {  background: #888800; }
.bgPhoto {   background: #33CC00; }
.bgArt {     background: #00FF00; }
.bgMusic {   background: #00CC33; }
.bgFood {    background: #008888; }
.bgGym {     background: #0033CC; }
.bgSport {   background: #0000FF; }
.bgGaming {  background: #3300CC; }
.bgProg {    background: #880088; }
.bgIVIS {    background: #CC0033; }

.bgFood, .bgGym, .bgSport, .bgGaming, .bgProg { text-decoration: #FFFFFF; }
